//h1 Tutor Side of the Video Session
//a(ui-sref=1) click here to close from session

#videos
	#subscriber
		//h1 SUBSCRIBER
	#publisher
		//h1 PUBLISHER

	#buttonBar
		md-button.md-fab(ng-click="endSession()" title="End Call" aria-label="end call")
			md-icon(md-svg-src="./images/ic_call_end_white_36px.svg")